.avatar-dark {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 30px;
    border: 3px solid white;
}

.avatar-light {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 30px;
    border: 3px solid #212529;
}

.about-me {
    max-width: 800px;
    margin: 0 auto;
}

.p-index {
    font-size: 1.5em;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
}

.p-border-light {
    border-radius: 1rem;
    border: 2px solid #212529;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.p-border-dark {
    border-radius: 1rem;
    border: 2px solid white;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.backgroundImg-light {
    background: linear-gradient(60deg, #9fa4c4, #b3cdd1, #aacaef, #fde7f9);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

.backgroundImg-dark {
    background: linear-gradient(60deg, #28313B, #485461, #2a5470, #4c4177);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.college-link-dark {
    color: white;
    font-weight: bold;
}

.college-link-light {
    color: #212529;
    font-weight: bold;
}

.college-link-light:hover,
.college-link-dark:hover {
    text-decoration: none;
}

.name-label-dark {
    line-height: 1.2em;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.name-label-light {
    line-height: 1.2em;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #212529;
}

@media screen and (min-height: 100px) and (max-height:550px) {
    .p-index {
        font-size: 1em;
        font-weight: 300;
        margin-bottom: 30px;
    }
    .backgroundImg-light,
    .backgroundImg-dark {
        height: 120vh;
    }
    .button {
        font-size: 0.7rem !important;
        padding: 0.5rem 1rem;
    }
}

@media screen and (min-height: 551px) and (max-height:700px) {
    .p-index {
        font-size: 1.25em;
        font-weight: 300;
        margin-bottom: 30px;
    }
    .backgroundImg-light,
    .backgroundImg-dark {
        height: 100vh;
    }
    .button {
        font-size: 1rem !important;
    }
}

@media screen and (min-height: 701px) and (max-height:900px) {
    .p-index {
        font-size: 1.5em;
        font-weight: 300;
        margin-bottom: 30px;
    }
    .backgroundImg-light,
    .backgroundImg-dark {
        height: 95vh;
    }
    .button {
        font-size: 1rem !important;
    }
}

@media screen and (min-height: 901px) {
    .p-index {
        font-size: 2em;
        font-weight: 300;
        margin-bottom: 30px;
    }
    .backgroundImg-light,
    .backgroundImg-dark {
        height: 90vh;
    }
    .button {
        font-size: 1rem !important;
    }
}

@media screen and (min-width: 100px) and (max-width:320px) {
    .p-index {
        font-size: 1em;
        font-weight: 300;
        margin-bottom: 30px;
    }
    .backgroundImg-light,
    .backgroundImg-dark {
        height: 120vh;
    }
    .button {
        font-size: 0.7rem !important;
        padding: 0.5rem 1rem;
    }
}

.button {
    pointer-events: auto;
    cursor: pointer;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.button::before,
.button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button--mimas-dark {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 0.85rem;
    border-radius: 0.5rem;
    overflow: hidden;
    color: #212529;
    background: #e7e7e7;
}

.button--mimas-dark::before {
    content: '';
    background: #212529;
    color: #e7e7e7;
    width: 130%;
    left: -15%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button--mimas-dark span,
.button--mimas-light span {
    position: relative;
    mix-blend-mode: difference;
    color: #e7e7e7;
}

.button--mimas-dark:hover::before,
.button--mimas-light:hover::before {
    transform: translate3d(100%, 0, 0);
}

.button--mimas-dark:hover,
.button--mimas-light:hover {
    text-decoration: none;
}

.button--mimas-light {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 0.85rem;
    border-radius: 0.5rem;
    overflow: hidden;
    color: #e7e7e7;
    background: #212529;
}

.button--mimas-light::before {
    content: '';
    background: #e7e7e7;
    color: #212529;
    width: 130%;
    left: -15%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}