.main {
    z-index: 100;
}

.bg-container {
    background-color: #e9ecef;
}

.fs-8 {
    font-size: 0.6rem;
}


/* .highlight-box-dark {
            box-shadow: 0 1px 10px rgba(0, 0, 0, .6);
            border-radius: 1rem;
            overflow: hidden;
        }
        
        .highlight-box-light {
            box-shadow: 0 1px 10px rgba(255, 255, 255, .6);
            border-radius: 1rem;
            overflow: hidden;
        }
        
        .border-right-side {
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
        
        .border-top-right {
            border-top-right-radius: 1rem;
        }
        
        .border-bottom-right {
            border-bottom-right-radius: 1rem;
        }
        
        .w-60 {
            width: 60% !important;
        }
        
        .year-title {
            font-family: poppins-semibold, poppins, sans-serif;
            font-weight: bold;
        }
        
        .ul-font-dark li {
            font-family: avenir-lt-w01_35-light1475496, sans-serif;
            color: white;
        }
        
        .ul-font-light li {
            font-family: avenir-lt-w01_35-light1475496, sans-serif;
            color: black;
        }
        
        .page-title-dark {
            font-weight: bold;
            font-size: 2.0rem;
            color: white;
        }
        
        .page-title-light {
            font-weight: bold;
            font-size: 2.0rem;
            color: #212529;
        }
        
        .position-test-light {
            position: absolute;
            left: 0;
            top: 50px;
            height: 50px;
            width: 10px;
            background-color: #79a3ff7a;
        }
        
        .position-test-dark {
            position: absolute;
            left: 0;
            top: 50px;
            height: 50px;
            width: 10px;
            background-color: #3072ff;
        }
        

        
        .img-resize {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .tags {
            list-style: none;
            margin: 0;
            overflow: hidden;
            padding: 0;
        }
        
        .tags li {
            float: left;
        }
        
        .tag-light {
            background: #79a3ff7a;
            border-radius: 3px 0 0 3px;
            color: #212529;
            display: inline-block;
            height: 26px;
            line-height: 26px;
            padding: 0 20px 0 23px;
            position: relative;
            margin: 0 10px 10px 0;
        }
        
        .tag-light::before {
            background: #fff;
            border-radius: 10px;
            box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
            content: '';
            height: 6px;
            left: 10px;
            position: absolute;
            width: 6px;
            top: 10px;
        }
        
        .tag-light::after {
            background: #fff;
            border-bottom: 13px solid transparent;
            border-left: 10px solid #79a3ff7a;
            border-top: 13px solid transparent;
            content: '';
            position: absolute;
            right: 0;
            top: 0;
        }
        
        .tag-light:hover {
            text-decoration: none;
            color: black;
            cursor: default;
        }
        
        .tag-dark {
            background: #3072ff;
            border-radius: 3px 0 0 3px;
            color: rgb(216, 216, 216);
            display: inline-block;
            height: 26px;
            line-height: 26px;
            padding: 0 20px 0 23px;
            position: relative;
            margin: 0 10px 10px 0;
        }
        
        .tag-dark::before {
            background: #fff;
            border-radius: 10px;
            box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
            content: '';
            height: 6px;
            left: 10px;
            position: absolute;
            width: 6px;
            top: 10px;
        }
        
        .tag-dark::after {
            background: #343a40;
            border-bottom: 13px solid transparent;
            border-left: 10px solid #3072ff;
            border-top: 13px solid transparent;
            content: '';
            position: absolute;
            right: 0;
            top: 0;
        }
        
        .tag-dark:hover {
            text-decoration: none;
            color: white;
            cursor: default;
        }
        
        @media screen and (min-width: 100px) and (max-width:320px) {
            .w-60 {
                width: 90% !important;
            }
            .w-75 {
                width: 90% !important;
            }
            .page-title {
                font-size: 1.5rem;
            }
        }
        
        @media screen and (min-width: 321px) and (max-width:767px) {
            .w-60 {
                width: 85% !important;
            }
            .w-75 {
                width: 85% !important;
            }
            .adjust-font {
                font-size: 1.5rem;
                margin-right: 1rem;
            }
        }
        
        @media screen and (min-width: 768px) and (max-width:991px) {
            .w-60 {
                width: 80% !important;
            }
            .w-75 {
                width: 100% !important;
            }
            .adjust-font {
                font-size: 2rem;
                margin-right: 1rem;
            }
        }
        
        .button-download::before,
        .button-download::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
        .button--pan-dark {
            font-weight: 700;
            border: 2px solid #000;
            border-radius: 3rem;
            overflow: hidden;
            color: #212529;
            background: white;
        }
        
        .button--pan-dark span,
        .button--pan-light span {
            position: relative;
            mix-blend-mode: difference;
            color: #e7e7e7;
        }
        
        .button--pan-dark::before {
            content: '';
            background: #212529;
            border: 2px solid white;
            border-radius: 3rem;
            transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
        }
        
        .button--pan-dark:hover::before,
        .button--pan-light:hover::before {
            transform: translate3d(0, 100%, 0);
        }
        
        .button--pan-dark:hover,
        .button--pan-light:hover {
            text-decoration: none;
        }
        
        .button--pan-light {
            font-weight: 700;
            border: 2px solid #212529;
            border-radius: 3rem;
            overflow: hidden;
            color: white;
            background: #212529;
        }
        
        .button--pan-light::before {
            content: '';
            background: white;
            border: 2px solid #212529;
            border-radius: 3rem;
            transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
        }
        
        .button-download {
            pointer-events: auto;
            cursor: pointer;
            border: none;
            padding: 0.5rem 2rem;
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            position: relative;
            display: inline-block;
        }
        
        .backgroundImg-resume-light {
            background: linear-gradient(60deg, #9fa4c4, #b3cdd1, #aacaef, #fde7f9);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;
        }
        
        .backgroundImg-resume-dark {
            background: linear-gradient(60deg, #28313B, #485461, #2b4162, #12100e);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;
        }
        
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        } */